apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 1
  selector:
    matchLabels:
      name: api
  template:
    metadata:
      labels:
        name: api
    spec:
      containers:
        - name: api
          image: ghcr.io/anthrotech-dev/activity-api:latest
          ports:
            - name: api
              containerPort: 3000
          envFrom:
            - secretRef:
                name: crawler-secrets

