apiVersion: v1
kind: Service
metadata:
  name: api
spec:
  ports:
  - port: 80
    targetPort: api
    protocol: TCP
  selector:
    name: api
  type: LoadBalancer

---
apiVersion: v1
kind: Service
metadata:
  name: db
spec:
  ports:
  - port: 5432
    targetPort: postgres
    protocol: TCP
  selector:
    name: activity-db
  type: ClusterIP

